{% extends 'Login_App/base.html' %}
{% block body_block %}
    <form action="{% url 'Login_App:user_login' %}"  method="POST" >
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter your username..." required class="form-control">
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Enter your password..." required class="form-control">
        {% csrf_token %}
        <input type="submit" value="Login" class="btn btn-primary" style="margin-top:10px">
    </form>
{% endblock %}